## Veiew DB in panadas

In [21]:
import sqlite3
import pandas as pd

dat = sqlite3.connect('option_strategies.db')
query = dat.execute("SELECT * From option_strategies")
cols = [column[0] for column in query.description]
print(cols)
results= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)
res = results[(results['ticker']!='None')]
res[['id', 'strategy_type', 'options_expiry_date','tab_name', 'er', 'ticker','trigger_price', 'strike_price', 'strike_buy','strike_sell','estimated_premium', 'last_price_when_checked',
         'timestamp_of_price_when_last_checked','scrape_date', 'timestamp_of_trigger','strategy_status', 'price_when_triggered', 'price_when_order_placed','premium_when_last_checked']].tail(12)

['id', 'scrape_date', 'strategy_type', 'tab_name', 'ticker', 'er', 'INTEGER', 'trigger_price', 'strike_price', 'strike_buy', 'strike_sell', 'estimated_premium', 'last_price_when_checked', 'timestamp_of_price_when_last_checked', 'item_id', 'options_expiry_date', 'date_info', 'timestamp_of_trigger', 'strategy_status', 'price_when_triggered', 'price_when_order_placed', 'premium_at_order', 'premium_when_last_checked', 'timestamp_of_order']

,id,strategy_type,options_expiry_date,tab_name,er,ticker,trigger_price,strike_price,strike_buy,strike_sell,estimated_premium,last_price_when_checked,timestamp_of_price_when_last_checked,scrape_date,timestamp_of_trigger,strategy_status,price_when_triggered,price_when_order_placed,premium_when_last_checked
470,770,Bull Put,2025-08-15,Mild Risk 95-97% accuracy > shorter expiry,0.0,UNH,257.19,sell 240.0 - buy 230.0,230.0,240.0,115.0,241.90,2025-08-01T15:28:59.317193,2025-08-01,2025-07-31T13:44:18.361513,order placed,256.89,None,115.0
471,771,Bull Put,2025-08-22,Mild Risk 95-97% accuracy > longer expiry,0.0,AAPL,204.28,sell 195.0 - buy 185.0,185.0,195.0,190.0,203.32,2025-08-01T15:28:59.280775,2025-08-01,2025-08-01T14:41:15.866466,premium too low,203.91,None,163.5
472,772,Bull Put,2025-08-22,Mild Risk 95-97% accuracy > longer expiry,0.0,NKE,74.1,sell 71.0 - buy 61.0,61.0,71.0,102.0,73.41,2025-08-01T15:28:59.287773,2025-08-01,2025-08-01T08:34:37.841907,order placed,72.66,None,102.0
473,773,Bull Put,2025-08-22,Mild Risk 95-97% accuracy > longer expiry,0.0,UNH,253.59,sell 240.0 - buy 230.0,230.0,240.0,135.0,241.90,2025-08-01T15:28:59.294378,2025-08-01,2025-07-31T15:10:31.803712,order placed,253.05,None,135.0
474,774,Bear Call,2025-08-15,Mild Risk 95-97% accuracy > shorter expiry,0.0,MSFT,569.65,sell 590.0 - buy 600.0,600.0,590.0,106.0,523.47,2025-08-01T15:28:59.274380,2025-08-01T12:58:47.068350,None,None,NaN,None,NaN
475,775,Bull Put,2025-08-15,Mild Risk 95-97% accuracy > shorter expiry,0.0,JNJ,162.23,sell 157.5 - buy 145.0,145.0,157.5,91.0,166.29,2025-08-01T15:28:59.323752,2025-08-01T12:59:07.099511,None,None,NaN,None,NaN
476,776,Bull Put,2025-08-15,Mild Risk 95-97% accuracy > shorter expiry,0.0,TSLA,294.69,sell 265.0 - buy 255.0,255.0,265.0,100.0,304.86,2025-08-01T15:28:59.329894,2025-08-01T12:59:07.187584,None,None,NaN,None,NaN
477,777,Bull Put,2025-08-22,Mild Risk 95-97% accuracy > longer expiry,0.0,GOOGL,186.26,sell 175.0 - buy 165.0,165.0,175.0,100.0,188.68,2025-08-01T15:28:59.299681,2025-08-01T12:59:14.498686,None,None,NaN,None,NaN
478,778,Bull Put,2025-08-22,Mild Risk 95-97% accuracy > longer expiry,0.0,NKE,72.49,sell 70.0 - buy 60.0,60.0,70.0,92.0,73.41,2025-08-01T15:28:59.305604,2025-08-01T12:59:14.590385,None,None,NaN,None,NaN
479,779,Bull Put,2025-08-22,Mild Risk 95-97% accuracy > longer expiry,0.0,TSLA,293.55,sell 265.0 - buy 255.0,255.0,265.0,147.0,304.86,2025-08-01T15:28:59.310752,2025-08-01T12:59:14.675428,None,None,NaN,None,NaN
480,780,Bull Put,2025-08-22,Minimal Risk 97-99% accuracy > longer expiry,0.0,TSM,233.11,sell 225.0 - buy 215.0,215.0,225.0,216.0,234.59,2025-08-01T15:28:59.335346,2025-08-01T12:59:18.349324,2025-08-01T13:49:55.858828,order placed,233.02,None,232.5
481,781,Bull Put,2025-08-22,Minimal Risk 97-99% accuracy > longer expiry,0.0,WMT,95.74,sell 92.0 - buy 83.0,83.0,92.0,97.0,98.54,2025-08-01T15:28:59.341247,2025-08-01T12:59:18.446427,None,None,NaN,None,NaN

In [10]:
import sqlite3
import pandas as pd

dat = sqlite3.connect('option_strategies.db')
query = dat.execute("SELECT * From option_strategies")
cols = [column[0] for column in query.description]
print(cols)
results= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)
res = results[(results['ticker']!='None') & (results['strategy_status']=='order placed')]
res[['id', 'strategy_type', 'tab_name', 'er', 'ticker','trigger_price', 'strike_price', 'strike_buy','strike_sell','estimated_premium', 'options_expiry_date',
         'timestamp_of_price_when_last_checked','scrape_date', 'timestamp_of_trigger','strategy_status', 'price_when_triggered', 'price_when_order_placed','premium_when_last_checked']].tail(9)

['id', 'scrape_date', 'strategy_type', 'tab_name', 'ticker', 'er', 'INTEGER', 'trigger_price', 'strike_price', 'strike_buy', 'strike_sell', 'estimated_premium', 'last_price_when_checked', 'timestamp_of_price_when_last_checked', 'item_id', 'options_expiry_date', 'date_info', 'timestamp_of_trigger', 'strategy_status', 'price_when_triggered', 'price_when_order_placed', 'premium_at_order', 'premium_when_last_checked', 'timestamp_of_order']

,id,strategy_type,tab_name,er,ticker,trigger_price,strike_price,strike_buy,strike_sell,estimated_premium,options_expiry_date,timestamp_of_price_when_last_checked,scrape_date,timestamp_of_trigger,strategy_status,price_when_triggered,price_when_order_placed,premium_when_last_checked
150,352,Bull Put,Minimal Risk 97-99% accuracy > shorter expiry,0.0,UNH,403.67,sell 380.0 - buy 370.0,370.0,380.0,144.0,2025-05-16,2025-04-30T23:44:07.924082,2025-04-30T07:41:18.869885,2025-04-30T13:41:45.856136,order placed,403.66,None,151.500000
151,353,Bull Put,Mild Risk 95-97% accuracy > longer expiry,1.0,META,534.21,sell 490.0 - buy 480.0,480.0,490.0,232.0,2025-05-23,2025-04-30T23:44:07.900149,2025-04-30T07:41:22.358371,2025-04-30T13:39:22.539218,order placed,533.56,None,242.500000
153,355,Bull Put,Minimal Risk 97-99% accuracy > longer expiry,1.0,MSFT,386.43,sell 365.0 - buy 355.0,355.0,365.0,200.0,2025-05-23,2025-04-30T23:44:07.915341,2025-04-30T07:41:25.923135,2025-04-30T13:39:22.567541,order placed,386.21,None,210.000000
168,370,Bear Call,Mild Risk 95-97% accuracy > shorter expiry,0.0,SPY,593.42,sell 615.0 - buy 625.0,625.0,615.0,80.0,2025-06-13,2025-05-29T23:45:33.904711,2025-05-29T04:54:19.695659,2025-05-29T06:11:34.378874,order placed,597.23,None,149.510269
192,394,Bear Call,Minimal Risk 97-99% accuracy > shorter expiry,0.0,UNH,310.29,sell 330.0 - buy 340.0,340.0,330.0,140.0,2025-06-13,2025-06-02T23:46:17.356490,2025-06-02T07:08:03.109079,2025-06-02T13:37:43.734702,order placed,310.33,None,146.000000
216,418,Bull Put,Minimal Risk 97-99% accuracy > longer expiry,0.0,JNJ,150.13,sell 145.0 - buy 135.0,135.0,145.0,90.0,2025-06-27,2025-06-03T23:44:22.195043,2025-06-03T04:51:22.495984,2025-06-03T06:01:30.674590,order placed,-1.00,None,157.500000
217,419,Bull Put,Minimal Risk 97-99% accuracy > longer expiry,0.0,TSM,195,sell 180.0 - buy 170.0,170.0,180.0,0.01,2025-06-27,2025-06-03T23:44:22.207577,2025-06-03T04:51:22.590189,2025-06-03T04:56:40.594627,order placed,194.76,None,113.841198
219,448,Bear Call,Minimal Risk 97-99% accuracy > shorter expiry,0.0,META,687.99,sell 745.0 - buy 755.0,755.0,745.0,76.0,2025-06-20,2025-06-04T23:43:55.566673,2025-06-04T05:06:48.112391,2025-06-04T20:01:03.656039,order placed,688.00,None,76.000000
226,455,Bull Put,Minimal Risk 97-99% accuracy > longer expiry,0.0,GOOGL,168,sell 155.0 - buy 145.0,145.0,155.0,20.0,2025-06-27,2025-06-04T23:43:55.584911,2025-06-04T05:07:15.165149,2025-06-04T05:17:19.075974,order placed,166.80,None,20.000000

## Delete ALL rows in SQLite database

In [5]:
stop

NameError: name 'stop' is not defined

In [ ]:

import sqlite3

conn = sqlite3.connect('option_strategies.db')
c = conn.cursor()

# Delete all rows from table
c.execute('DELETE FROM option_strategies;',)

print('We have deleted', c.rowcount, 'records from the table.')

# Commit the changes to db			
conn.commit()
# Close the connection
conn.close()

We have deleted 20 records from the table.

## Delete table

In [ ]:

# importing sqlite module 
import sqlite3 
  
# create connection to the  
# database geek 
connection = sqlite3.connect('option_strategies.db') 
  
# drop table 
connection.execute("DROP TABLE option_strategies") 
  
print("data dropped successfully") 
  
# close the connection 
connection.close()

data dropped successfully

## Update Row

In [ ]:
import sqlite3
# this just work by a row number and new trigger price 
# old trigger price for row 34: 166.68
sql  = 'UPDATE option_strategies SET trigger_price=? WHERE id = ?'

try:
    with sqlite3.connect('option_strategies.db') as conn:
        cur = conn.cursor()
        cur.execute(sql, (55, 7))
        conn.commit()
except sqlite3.OperationalError as e:
    print(e)

## update estimated premium

In [12]:
import sqlite3
# this just work by a row number and new trigger price 
# old trigger price for row 34: 166.68
sql  = 'UPDATE option_strategies SET estimated_premium=? WHERE id = ?'

try:
    with sqlite3.connect('option_strategies.db') as conn:
        cur = conn.cursor()
        cur.execute(sql, (10, 496))
        conn.commit()
except sqlite3.OperationalError as e:
    print(e)

## update trigger price

In [15]:
import sqlite3
# this just work by a row number and new trigger price 
# old trigger price for row 34: 166.68
sql  = 'UPDATE option_strategies SET trigger_price=? WHERE id = ?'

try:
    with sqlite3.connect('option_strategies.db') as conn:
        cur = conn.cursor()
        cur.execute(sql, (100, 496))
        conn.commit()
except sqlite3.OperationalError as e:
    print(e)

## update ticker symbol

In [ ]:
import sqlite3
# this just work by a row number and new trigger price 
# old trigger price for row 34: 166.68
sql  = 'UPDATE option_strategies SET ticker=? WHERE id = ?'

try:
    with sqlite3.connect('option_strategies.db') as conn:
        cur = conn.cursor()
        cur.execute(sql, ('JNJ', 192))
        conn.commit()
except sqlite3.OperationalError as e:
    print(e)

In [ ]:
import sqlite3
# this just work by a row number and new trigger price 
# old trigger price for row 34: 166.68
sql  = 'UPDATE option_strategies SET strike_buy=? WHERE id = ?'

try:
    with sqlite3.connect('option_strategies.db') as conn:
        cur = conn.cursor()
        cur.execute(sql, (583.0, 419))
        conn.commit()
except sqlite3.OperationalError as e:
    print(e)

## Change columns entries 'strategy_status'

In [20]:
import sqlite3

def update_strategy_status():
    try:
        # Connect to the SQLite database
        conn = sqlite3.connect('option_strategies.db')
        cursor = conn.cursor()
        
        # Define the SQL update query
        update_query = """
        UPDATE option_strategies
        SET strategy_status = 'None'
        WHERE strategy_status = 'individual orders placed'
        AND DATE(scrape_date) = '2025-08-01';	
        """
        # 'premium too low';
        
        # Execute the update query
        cursor.execute(update_query)
        conn.commit()
        
        # Report the number of rows updated
        print(f"{cursor.rowcount} rows updated.")
        
    except sqlite3.Error as error:
        print("Error while updating SQLite table:", error)
    finally:
        # Ensure that the connection is closed
        if conn:
            conn.close()

if __name__ == "__main__":
    update_strategy_status()

4 rows updated.

 ## Change columns entries 'scrape_date'

In [1]:
import sqlite3

def update_scrape_date():
    try:
        # Connect to the SQLite database
        conn = sqlite3.connect('option_strategies.db')
        cursor = conn.cursor()
        
        # Update query: change scrape_date to '2025-04-06'
        # where the date portion of scrape_date is '2025-04-03'
        update_query = """
        UPDATE option_strategies
        SET scrape_date = '2025-08-01'
        WHERE DATE(scrape_date) = '2025-07-31';  
        """
        
        # Execute the update query
        cursor.execute(update_query)
        conn.commit()
        
        # Output the number of rows updated
        print(f"{cursor.rowcount} rows updated.")
        
    except sqlite3.Error as error:
        print("Error updating scrape_date:", error)
    finally:
        # Ensure the connection is closed
        if conn:
            conn.close()

if __name__ == "__main__":
    update_scrape_date()

6 rows updated.

## Add New column

In [ ]:
import sqlite3
import logging

# Set up logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')
logger = logging.getLogger(__name__)

def add_premium_column():
    """Add a 'timestamp_of_order ' column to the option_strategies table."""
    conn = None
    try:
        # Connect to the database
        conn = sqlite3.connect('option_strategies.db')
        cursor = conn.cursor()
        
        # Check if the column already exists
        cursor.execute("PRAGMA table_info(option_strategies)")
        columns = [col[1] for col in cursor.fetchall()]
        
        if 'timestamp_of_order ' in columns:
            logger.info("Column 'timestamp_of_order  already exists in the table.")
            return
        
        # Add the new column - using REAL type for storing decimal/float values
        cursor.execute("""
            ALTER TABLE option_strategies 
            ADD COLUMN timestamp_of_order DATETIME
        """)
        
        conn.commit()
        logger.info("Successfully added 'timestamp_of_order' column to option_strategies table.")
        
    except sqlite3.Error as e:
        logger.error(f"SQLite error: {e}")
        if conn:
            conn.rollback()
    finally:
        if conn:
            conn.close()

if __name__ == "__main__":
    add_premium_column()

2025-04-06 08:14:48,843 - ERROR - SQLite error: no such table: option_strategies

## Query a section of the database

In [ ]:


start_date = '2025-03-29'
dat = sqlite3.connect('option_strategies.db')
query_text = f"""
    SELECT * FROM option_strategies 
    WHERE date(scrape_date) = '{start_date}'
    AND strategy_status = 'triggered'
    """
query = dat.execute(query_text)
cols = [column[0] for column in query.description]
results= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)
results

OperationalError: no such table: option_strategies

## Delete all row except 1

In [ ]:
import sqlite3

# Connect to your database
conn = sqlite3.connect('option_strategies.db')
cur= conn.cursor()

# Delete all rows except the one where id = 312
cur.execute("DELETE FROM option_strategies WHERE id != ?", (312,))

# Commit changes and close connection
conn.commit()
conn.close()

print("Rows deleted except the one with id = 312.")

Rows deleted except the one with id = 312.

## Delete rows from scrape date

In [3]:
import sqlite3

date_to_delete = '2025-07-30'

# Connect to your database
conn = sqlite3.connect('option_strategies.db')
cur = conn.cursor()

# Delete rows for the specific date
cur.execute("DELETE FROM option_strategies WHERE DATE(scrape_date) = ?", (date_to_delete,))

# Get number of rows deleted
rows_deleted = cur.rowcount

# Commit changes and close connection
conn.commit()
conn.close()

print(f"{rows_deleted} rows deleted.")

17 rows deleted.

## Change Ticker symbol

In [ ]:
import sqlite3
# this just work by a row number and new trigger price 
# old trigger price for row 34: 166.68
sql  = 'UPDATE option_strategies SET ticker=? WHERE id = ?'

try:
    with sqlite3.connect('option_strategies.db') as conn:
        cur = conn.cursor()
        cur.execute(sql, ('WMT', 179))
        conn.commit()
except sqlite3.OperationalError as e:
    print(e)

In [ ]:
import sqlite3
# this just work by a row number and new trigger price 
# old trigger price for row 34: 166.68
sql  = 'UPDATE option_strategies SET ticker=?, trigger_price=?, strike_buy=?, strike_sell=? WHERE id = ?'
try:
    with sqlite3.connect('option_strategies.db') as conn:
        cur = conn.cursor()
        cur.execute(sql, ('BBY', 650, 680, 690, 312))
        conn.commit()
except sqlite3.OperationalError as e:
    print(e)