## Veiew DB in panadas

In [16]:
import sqlite3
import pandas as pd

dat = sqlite3.connect('option_strategies.db')
query = dat.execute("SELECT * From option_strategies")
cols = [column[0] for column in query.description]
print(cols)
results= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)
res = results[(results['ticker']!='None')]
res[['id', 'strategy_type', 'tab_name', 'er', 'ticker','trigger_price', 'strike_price', 'strike_buy','strike_sell','estimated_premium', 'last_price_when_checked',
         'timestamp_of_price_when_last_checked','scrape_date', 'timestamp_of_trigger','strategy_status', 'price_when_triggered', 'price_when_order_placed','premium_when_last_checked']].tail(9)

['id', 'scrape_date', 'strategy_type', 'tab_name', 'ticker', 'er', 'INTEGER', 'trigger_price', 'strike_price', 'strike_buy', 'strike_sell', 'estimated_premium', 'last_price_when_checked', 'timestamp_of_price_when_last_checked', 'item_id', 'options_expiry_date', 'date_info', 'timestamp_of_trigger', 'strategy_status', 'price_when_triggered', 'price_when_order_placed', 'premium_at_order', 'premium_when_last_checked', 'timestamp_of_order']

,id,strategy_type,tab_name,er,ticker,trigger_price,strike_price,strike_buy,strike_sell,estimated_premium,last_price_when_checked,timestamp_of_price_when_last_checked,scrape_date,timestamp_of_trigger,strategy_status,price_when_triggered,price_when_order_placed,premium_when_last_checked
0,1,Bear Call,Mild Risk 95-97% accuracy > shorter expiry,0.0,V,334.75,sell 350.0 - buy 360.0,360.0,350.0,250.0,333.40,2025-04-11T20:30:59.858920,2025-04-11T15:49:43.519952,2025-04-11T17:40:22.083391,insufficient market data,335.50,None,0.000000
6,7,Bull Put,Mild Risk 95-97% accuracy > longer expiry,0.0,NKE,55,sell 49.0 - buy 40.0,40.0,49.0,100.0,54.33,2025-04-11T20:30:59.868610,2025-04-11T15:50:09.447411,2025-04-11T16:26:34.591504,order placed,53.81,None,109.949105
8,180,Bear Call,Mild Risk 95-97% accuracy > shorter expiry,NaN,GOOGL,164.3,sell 175.0 - buy 185.0,185.0,175.0,75.0,NaN,None,2025-04-14T07:32:32.512393,None,None,NaN,None,NaN
9,181,Bear Call,Mild Risk 95-97% accuracy > shorter expiry,NaN,SPY,537.02,sell 560.0 - buy 570.0,570.0,560.0,218.0,NaN,None,2025-04-14T07:32:32.610704,None,None,NaN,None,NaN
13,185,Bull Put,Mild Risk 95-97% accuracy > shorter expiry,NaN,GOOGL,147.77,sell 140.0 - buy 130.0,130.0,140.0,155.0,NaN,None,2025-04-14T07:32:52.840046,None,None,NaN,None,NaN
14,186,Bull Put,Mild Risk 95-97% accuracy > shorter expiry,NaN,NKE,51.95,sell 49.0 - buy 40.0,40.0,49.0,101.0,NaN,None,2025-04-14T07:32:52.922381,None,None,NaN,None,NaN
15,187,Bull Put,Mild Risk 95-97% accuracy > shorter expiry,NaN,TSM,141.03,sell 135.0 - buy 125.0,125.0,135.0,212.0,NaN,None,2025-04-14T07:32:53.010932,None,None,NaN,None,NaN
17,189,Bull Put,Mild Risk 95-97% accuracy > longer expiry,NaN,NKE,51.56,sell 49.0 - buy 40.0,40.0,49.0,170.0,NaN,None,2025-04-14T07:33:00.143576,None,None,NaN,None,NaN

## Delete ALL rows in SQLite database

In [16]:
stop

NameError: name 'stop' is not defined

In [ ]:

import sqlite3

conn = sqlite3.connect('option_strategies.db')
c = conn.cursor()

# Delete all rows from table
c.execute('DELETE FROM option_strategies;',)

print('We have deleted', c.rowcount, 'records from the table.')

# Commit the changes to db			
conn.commit()
# Close the connection
conn.close()

We have deleted 20 records from the table.

## Delete table

In [32]:

# importing sqlite module 
import sqlite3 
  
# create connection to the  
# database geek 
connection = sqlite3.connect('option_strategies.db') 
  
# drop table 
connection.execute("DROP TABLE option_strategies") 
  
print("data dropped successfully") 
  
# close the connection 
connection.close()

data dropped successfully

## Update Row

In [38]:
import sqlite3
# this just work by a row number and new trigger price 
# old trigger price for row 34: 166.68
sql  = 'UPDATE option_strategies SET trigger_price=? WHERE id = ?'

try:
    with sqlite3.connect('option_strategies.db') as conn:
        cur = conn.cursor()
        cur.execute(sql, (55, 7))
        conn.commit()
except sqlite3.OperationalError as e:
    print(e)

## update estimated premium

In [65]:
import sqlite3
# this just work by a row number and new trigger price 
# old trigger price for row 34: 166.68
sql  = 'UPDATE option_strategies SET estimated_premium=? WHERE id = ?'

try:
    with sqlite3.connect('option_strategies.db') as conn:
        cur = conn.cursor()
        cur.execute(sql, (100, 7))
        conn.commit()
except sqlite3.OperationalError as e:
    print(e)

## Change columns entries 'strategy_status'

In [62]:
import sqlite3

def update_strategy_status():
    try:
        # Connect to the SQLite database
        conn = sqlite3.connect('option_strategies.db')
        cursor = conn.cursor()
        
        # Define the SQL update query
        update_query = """
        UPDATE option_strategies
        SET strategy_status = 'triggered'
        WHERE strategy_status = 'premium too low';
        """
        
        # Execute the update query
        cursor.execute(update_query)
        conn.commit()
        
        # Report the number of rows updated
        print(f"{cursor.rowcount} rows updated.")
        
    except sqlite3.Error as error:
        print("Error while updating SQLite table:", error)
    finally:
        # Ensure that the connection is closed
        if conn:
            conn.close()

if __name__ == "__main__":
    update_strategy_status()

1 rows updated.

 ## Change columns entries 'scrape_date'

In [ ]:
import sqlite3

def update_scrape_date():
    try:
        # Connect to the SQLite database
        conn = sqlite3.connect('option_strategies.db')
        cursor = conn.cursor()
        
        # Update query: change scrape_date to '2025-04-06'
        # where the date portion of scrape_date is '2025-04-03'
        update_query = """
        UPDATE option_strategies
        SET scrape_date = '2025-04-11'
        WHERE DATE(scrape_date) = '2025-04-10';  
        """
        
        # Execute the update query
        cursor.execute(update_query)
        conn.commit()
        
        # Output the number of rows updated
        print(f"{cursor.rowcount} rows updated.")
        
    except sqlite3.Error as error:
        print("Error updating scrape_date:", error)
    finally:
        # Ensure the connection is closed
        if conn:
            conn.close()

if __name__ == "__main__":
    update_scrape_date()

13 rows updated.

## Add New column

In [ ]:
import sqlite3
import logging

# Set up logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')
logger = logging.getLogger(__name__)

def add_premium_column():
    """Add a 'timestamp_of_order ' column to the option_strategies table."""
    conn = None
    try:
        # Connect to the database
        conn = sqlite3.connect('option_strategies.db')
        cursor = conn.cursor()
        
        # Check if the column already exists
        cursor.execute("PRAGMA table_info(option_strategies)")
        columns = [col[1] for col in cursor.fetchall()]
        
        if 'timestamp_of_order ' in columns:
            logger.info("Column 'timestamp_of_order  already exists in the table.")
            return
        
        # Add the new column - using REAL type for storing decimal/float values
        cursor.execute("""
            ALTER TABLE option_strategies 
            ADD COLUMN timestamp_of_order DATETIME
        """)
        
        conn.commit()
        logger.info("Successfully added 'timestamp_of_order' column to option_strategies table.")
        
    except sqlite3.Error as e:
        logger.error(f"SQLite error: {e}")
        if conn:
            conn.rollback()
    finally:
        if conn:
            conn.close()

if __name__ == "__main__":
    add_premium_column()

2025-04-06 08:14:48,843 - ERROR - SQLite error: no such table: option_strategies

## Query a section of the database

In [ ]:


start_date = '2025-03-29'
dat = sqlite3.connect('option_strategies.db')
query_text = f"""
    SELECT * FROM option_strategies 
    WHERE date(scrape_date) = '{start_date}'
    AND strategy_status = 'triggered'
    """
query = dat.execute(query_text)
cols = [column[0] for column in query.description]
results= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)
results

OperationalError: no such table: option_strategies

## Delete all row except 1

In [ ]:
import sqlite3

# Connect to your database
conn = sqlite3.connect('option_strategies.db')
cur= conn.cursor()

# Delete all rows except the one where id = 312
cur.execute("DELETE FROM option_strategies WHERE id != ?", (312,))

# Commit changes and close connection
conn.commit()
conn.close()

print("Rows deleted except the one with id = 312.")

Rows deleted except the one with id = 312.

## Delete rows from scrape date

In [ ]:
import sqlite3

date_to_delete = '2025-04-14'

# Connect to your database
conn = sqlite3.connect('option_strategies.db')
cur = conn.cursor()

# Delete rows for the specific date
cur.execute("DELETE FROM option_strategies WHERE DATE(scrape_date) = ?", (date_to_delete,))

# Get number of rows deleted
rows_deleted = cur.rowcount

# Commit changes and close connection
conn.commit()
conn.close()

print(f"{rows_deleted} rows deleted.")

Rows deleted

## Change Ticker symbol

In [6]:
import sqlite3
# this just work by a row number and new trigger price 
# old trigger price for row 34: 166.68
sql  = 'UPDATE option_strategies SET ticker=? WHERE id = ?'

try:
    with sqlite3.connect('option_strategies.db') as conn:
        cur = conn.cursor()
        cur.execute(sql, ('WMT', 179))
        conn.commit()
except sqlite3.OperationalError as e:
    print(e)

In [ ]:
import sqlite3
# this just work by a row number and new trigger price 
# old trigger price for row 34: 166.68
sql  = 'UPDATE option_strategies SET ticker=?, trigger_price=?, strike_buy=?, strike_sell=? WHERE id = ?'
try:
    with sqlite3.connect('option_strategies.db') as conn:
        cur = conn.cursor()
        cur.execute(sql, ('BBY', 650, 680, 690, 312))
        conn.commit()
except sqlite3.OperationalError as e:
    print(e)