## Veiew DB in panadas

In [4]:
import sqlite3
import pandas as pd

dat = sqlite3.connect('option_strategies.db')
query = dat.execute("SELECT * From option_strategies")
cols = [column[0] for column in query.description]
print(cols)
results= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)
res = results[(results['ticker']!='None')]
res[['id', 'strategy_type', 'tab_name', 'er', 'ticker','trigger_price', 'strike_price', 'strike_buy','strike_sell','estimated_premium', 'last_price_when_checked',
         'timestamp_of_price_when_last_checked','scrape_date', 'timestamp_of_trigger','strategy_status', 'price_when_triggered', 'price_when_order_placed','premium_when_last_checked']].tail(9)

['id', 'scrape_date', 'strategy_type', 'tab_name', 'ticker', 'er', 'INTEGER', 'trigger_price', 'strike_price', 'strike_buy', 'strike_sell', 'estimated_premium', 'last_price_when_checked', 'timestamp_of_price_when_last_checked', 'item_id', 'options_expiry_date', 'date_info', 'timestamp_of_trigger', 'strategy_status', 'price_when_triggered', 'price_when_order_placed', 'premium_at_order', 'premium_when_last_checked', 'timestamp_of_order']

,id,strategy_type,tab_name,er,ticker,trigger_price,strike_price,strike_buy,strike_sell,estimated_premium,last_price_when_checked,timestamp_of_price_when_last_checked,scrape_date,timestamp_of_trigger,strategy_status,price_when_triggered,price_when_order_placed,premium_when_last_checked
3,318,Bear Call,Mild Risk 95-97% accuracy > shorter expiry,0.0,MSFT,403.28,sell 425.0 - buy 435.0,435.0,425.0,153.0,380.00,2025-04-11T05:37:31.030786,2025-04-11,None,None,NaN,None,NaN
4,319,Bear Call,Mild Risk 95-97% accuracy > shorter expiry,0.0,NVDA,117.24,sell 130.0 - buy 140.0,140.0,130.0,90.0,108.66,2025-04-11T05:37:31.034455,2025-04-11,None,None,NaN,None,NaN
5,320,Bear Call,Mild Risk 95-97% accuracy > shorter expiry,0.0,SPY,554.22,sell 575.0 - buy 585.0,585.0,575.0,151.0,528.03,2025-04-11T05:37:31.037866,2025-04-11,None,None,NaN,None,NaN
6,321,Bear Call,Minimal Risk 97-99% accuracy > shorter expiry,0.0,META,603.87,sell 650.0 - buy 660.0,660.0,650.0,180.0,548.70,2025-04-11T05:37:31.050798,2025-04-11,None,None,NaN,None,NaN
7,322,Bear Call,Mild Risk 95-97% accuracy > longer expiry,0.0,NVDA,116.51,sell 128.0 - buy 135.0,135.0,128.0,102.0,108.66,2025-04-11T05:37:31.014938,2025-04-11,None,None,NaN,None,NaN
8,323,Bear Call,Minimal Risk 97-99% accuracy > longer expiry,0.0,UNH,598.07,sell 630.0 - buy 640.0,640.0,630.0,85.0,585.71,2025-04-11T05:37:31.044950,2025-04-11,None,None,NaN,None,NaN
9,324,Bull Put,Mild Risk 95-97% accuracy > shorter expiry,0.0,JNJ,150,sell 135.0 - buy 130.0,130.0,135.0,34.0,148.69,2025-04-11T05:37:31.061854,2025-04-11,2025-04-10T16:30:03.556639,order placed,145.2,None,34.0
13,328,Bear Call,Mild Risk 95-97% accuracy > shorter expiry,0.0,V,334.75,sell 350.0 - buy 360.0,360.0,350.0,250.0,324.61,2025-04-11T05:37:31.041209,2025-04-11T05:01:40.339451,None,None,NaN,None,NaN
19,334,Bull Put,Mild Risk 95-97% accuracy > longer expiry,0.0,NKE,51.31,sell 49.0 - buy 40.0,40.0,49.0,205.0,54.70,2025-04-11T05:37:31.054998,2025-04-11T05:02:06.116088,None,None,NaN,None,NaN

## Delete ALL rows in SQLite database

In [ ]:
stop

In [ ]:

import sqlite3

conn = sqlite3.connect('option_strategies.db')
c = conn.cursor()

# Delete all rows from table
c.execute('DELETE FROM option_strategies;',)

print('We have deleted', c.rowcount, 'records from the table.')

# Commit the changes to db			
conn.commit()
# Close the connection
conn.close()

We have deleted 20 records from the table.

## Delete table

In [ ]:

# importing sqlite module 
import sqlite3 
  
# create connection to the  
# database geek 
connection = sqlite3.connect('option_strategies.db') 
  
# drop table 
connection.execute("DROP TABLE option_strategies") 
  
print("data dropped successfully") 
  
# close the connection 
connection.close()

data dropped successfully

## Update Row

In [65]:
import sqlite3
# this just work by a row number and new trigger price 
# old trigger price for row 34: 166.68
sql  = 'UPDATE option_strategies SET trigger_price=? WHERE id = ?'

try:
    with sqlite3.connect('option_strategies.db') as conn:
        cur = conn.cursor()
        cur.execute(sql, (150, 324))
        conn.commit()
except sqlite3.OperationalError as e:
    print(e)

## update estimated premium

In [37]:
import sqlite3
# this just work by a row number and new trigger price 
# old trigger price for row 34: 166.68
sql  = 'UPDATE option_strategies SET estimated_premium=? WHERE id = ?'

try:
    with sqlite3.connect('option_strategies.db') as conn:
        cur = conn.cursor()
        cur.execute(sql, (34, 324))
        conn.commit()
except sqlite3.OperationalError as e:
    print(e)

## Change columns entries 'strategy_status'

In [41]:
import sqlite3

def update_strategy_status():
    try:
        # Connect to the SQLite database
        conn = sqlite3.connect('option_strategies.db')
        cursor = conn.cursor()
        
        # Define the SQL update query
        update_query = """
        UPDATE option_strategies
        SET strategy_status = 'triggered'
        WHERE strategy_status = 'order placed';
        """
        
        # Execute the update query
        cursor.execute(update_query)
        conn.commit()
        
        # Report the number of rows updated
        print(f"{cursor.rowcount} rows updated.")
        
    except sqlite3.Error as error:
        print("Error while updating SQLite table:", error)
    finally:
        # Ensure that the connection is closed
        if conn:
            conn.close()

if __name__ == "__main__":
    update_strategy_status()

1 rows updated.

 ## Change columns entries 'scrape_date'

In [2]:
import sqlite3

def update_scrape_date():
    try:
        # Connect to the SQLite database
        conn = sqlite3.connect('option_strategies.db')
        cursor = conn.cursor()
        
        # Update query: change scrape_date to '2025-04-06'
        # where the date portion of scrape_date is '2025-04-03'
        update_query = """
        UPDATE option_strategies
        SET scrape_date = '2025-04-11'
        WHERE DATE(scrape_date) = '2025-04-10';  
        """
        
        # Execute the update query
        cursor.execute(update_query)
        conn.commit()
        
        # Output the number of rows updated
        print(f"{cursor.rowcount} rows updated.")
        
    except sqlite3.Error as error:
        print("Error updating scrape_date:", error)
    finally:
        # Ensure the connection is closed
        if conn:
            conn.close()

if __name__ == "__main__":
    update_scrape_date()

13 rows updated.

## Add New column

In [ ]:
import sqlite3
import logging

# Set up logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')
logger = logging.getLogger(__name__)

def add_premium_column():
    """Add a 'timestamp_of_order ' column to the option_strategies table."""
    conn = None
    try:
        # Connect to the database
        conn = sqlite3.connect('option_strategies.db')
        cursor = conn.cursor()
        
        # Check if the column already exists
        cursor.execute("PRAGMA table_info(option_strategies)")
        columns = [col[1] for col in cursor.fetchall()]
        
        if 'timestamp_of_order ' in columns:
            logger.info("Column 'timestamp_of_order  already exists in the table.")
            return
        
        # Add the new column - using REAL type for storing decimal/float values
        cursor.execute("""
            ALTER TABLE option_strategies 
            ADD COLUMN timestamp_of_order DATETIME
        """)
        
        conn.commit()
        logger.info("Successfully added 'timestamp_of_order' column to option_strategies table.")
        
    except sqlite3.Error as e:
        logger.error(f"SQLite error: {e}")
        if conn:
            conn.rollback()
    finally:
        if conn:
            conn.close()

if __name__ == "__main__":
    add_premium_column()

2025-04-06 08:14:48,843 - ERROR - SQLite error: no such table: option_strategies

## Query a section of the database

In [ ]:


start_date = '2025-03-29'
dat = sqlite3.connect('option_strategies.db')
query_text = f"""
    SELECT * FROM option_strategies 
    WHERE date(scrape_date) = '{start_date}'
    AND strategy_status = 'triggered'
    """
query = dat.execute(query_text)
cols = [column[0] for column in query.description]
results= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)
results

OperationalError: no such table: option_strategies

## Delete all row except 1

In [23]:
import sqlite3

# Connect to your database
conn = sqlite3.connect('option_strategies.db')
cur= conn.cursor()

# Delete all rows except the one where id = 312
cur.execute("DELETE FROM option_strategies WHERE id != ?", (312,))

# Commit changes and close connection
conn.commit()
conn.close()

print("Rows deleted except the one with id = 312.")

Rows deleted except the one with id = 312.

## Change Ticker symbol

In [61]:
import sqlite3
# this just work by a row number and new trigger price 
# old trigger price for row 34: 166.68
sql  = 'UPDATE option_strategies SET ticker=?, trigger_price=?, strike_buy=?, strike_sell=? WHERE id = ?'
try:
    with sqlite3.connect('option_strategies.db') as conn:
        cur = conn.cursor()
        cur.execute(sql, ('BBY', 650, 680, 690, 312))
        conn.commit()
except sqlite3.OperationalError as e:
    print(e)